# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files


ConstruMartket/.idea/
ConstruMartket/.idea/workspace.xml
ConstruMartket/*.pyc
ConstruMartket/*.iml
ConstruMartket/*.DS_Store
ConstruMartket/*.mp4
ConstruMartket/*.avi
ConstruMartket/*.dir
ConstruMartket/*.bak
ConstruMartket/*.jpg
ConstruMartket/*.dat
ConstruMartket/*.dat
ConstruMartket/*.dat
ConstruMartket/*.mov
ConstruMartket/*.dat

ConstruMartket/.idea/workspace.xml
