{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}
    <h2> Constru Market - Registrar usuarios</h2>
    <div>
        <p><a href="usuario/registroMasivo">Registrar Usuario - Masivo</a></p>

        <p><a href="usuario/registroBasico">Registrar Usuario Basico</a></p>

        <p style="display:none"><a href="usuario/registroSimple">Registrar Usuario Simple</a></p>

        <p style="display:none"><a href="usuario/registrar">Registrar Usuario</a></p>

        <a class="btn btn-primary" href="/">Regresar</a>
    </div>
{% endblock %}