{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}ConstruMarket - 1 | Titulo pagina {% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!--<link href="{ static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"> -->
        <!--<link href="{ static "bootstrap/css/local.min.css" %}" rel="stylesheet"> -->

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block head %}
        {% endblock %}
    </head>

    <body>
         <div class="row">
             <div class="col-md-8 col-md-offset-2">
                  {% block navbar %}
                        <a href="/logout">Salir</a>
                  {% endblock %}
              </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% if messages %}
            {% for message in messages %}
                <p style="color: green">{{ message }}</p>
            {% endfor %}
            <hr>
        {% endif %}
        <!-- All that javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


        {% block scripts %}
        {% endblock %}
    </body>
</html>
